@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

:root {
  --first-color: #564C95;
  --first-color-semi: #9d4bff;
  --first-color-dark: #23004d;
  --first-color-light: #a49eac;
  --first-color-lighter: #f2f2f2;
  --red-color: #ff0000;

  --body-font: "Open Sans", sans-verif;
  --h1-font-size: 1.5rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
}

* {
  box-sizing: border-box;
}

::before {
  box-sizing: border-box;
}

::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--first-color-dark);
}

h1 {
  margin: 0;
}

a {
  text-decoration: none;
}

.profile-forms {
  margin: auto;
  padding: 50px;
  position: relative;
  height: auto;
  justify-self: center;
}

.profile-create {
  margin: auto;
  width: 45%;
  min-width: 350px;
  background-color: var(--first-color-lighter);
  padding: 2rem 1rem;
  border-radius: 1rem;
  text-align: center;
  box-shadow: 0 8px 20px rgba(35, 0, 77, 0.2);
  animation-duration: 0.4s;
  animation-name: animate-profile;
}

.profile-title {
  font-size: var(--h1-font-size);
  margin-bottom: 2rem;
}

.profile-toggle-change {
  display: none;
}

.profile-toggle-fixed {
  display: block;
}

#profilePicture {
  width: 100px;
  height: 100px;
  object-fit: contain;
  border: 1px solid var(--first-color-light);
}

.picture-button {
  display: flex;
  padding: 5px;
  width: fit-content;
  margin: auto;
}

.delete-picture,
.change-picture {
  cursor: pointer;
  border-radius: 4px;
  outline: none;
  border: none;
  text-decoration: none;
  font-size: 14px;
  padding: 4px;
  width: 60px;
  border: 1px solid var(--first-color);
}

.delete-picture {
  margin-right: 5px;
  background-color: #ffffff;
  color: var(--first-color);
}

.change-picture {
  margin-right: 5px;
  background-color: var(--first-color);
  color: #ffffff;
}

.delete-picture:hover,
.change-picture:hover {
  background-color: var(--first-color-dark);
  color: #fff;
}

#files,
#default-picture-button {
  display: none;
}

.profile-box {
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: 0.5rem;
  padding: 1.125rem 1rem;
  background-color: #fff;
  margin-top: 1rem;
  border-radius: 0.5rem;
  height: auto;
}

.profile-input {
  padding-right: 0;
  border: none;
  outline: none;
  font-size: var(--normal-font-size);
  font-weight: 700;
  color: var(--first-color-dark);
  height: auto;
}

.profile-input::placeholder {
  font-size: var(--normal-font-size);
  font-family: var(--body-font);
  color: var(--first-color-light);
}

.premium-status{
  font-weight: 700;
  color: var(--first-color-dark);
  font-size: var(--normal-font-size);
}

.edit-button a{
  text-decoration: none;
  color: white;
}

.change-buttons {
  display: flex;
  margin: 3px;
}

.edit-button,
.save-button,
.cancel-change-button {
  padding: 10px;
  margin: 30px auto 0px auto;
  background-color: var(--first-color);
  color: #fff;
  font-weight: 600;
  text-align: center;
  border-radius: 0.5rem;
  transition: 0.3s;
  width: 40%;
  border: none;
  cursor: pointer;
}

.edit-button:hover {
  background-color: var(--first-color-dark);
}

.cancel-change-button {
  border: 1px solid var(--first-color);
  background-color: #ffffff;
  color: var(--first-color);
}

.cancel-change-button:hover {
  background-color: var(--first-color-dark);
  color: #fff;
}

.save-button:disabled {
  opacity: 0.2;
  cursor: not-allowed;
}

.save-button:hover {
  background-color: var(--first-color-dark);
}

.alert-show {
  display: block;
  color: red;
  text-align: left;
  font-size: 12px;
  padding-left: 0.3rem;
  margin-top: 0;
}

@keyframes animate-profile {
  0% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.1, 1.1);
  }

  100% {
    transform: scale(1, 1);
  }
}

.popup-section {
  position: fixed;
  height: 100%;
  width: 100%;
  background: transparent;
  display: none;
  z-index: 101;
}

.popup-box {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.popup-overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: none;
  pointer-events: auto;
  z-index: 102;
}

.popup-box {
  text-align: center;
  position: fixed;
  flex-direction: column;
  align-items: center;
  max-width: 380px;
  width: 100%;
  padding: 30px 20px;
  border-radius: 24px;
  background-color: #fff;
  display: none;
  pointer-events: none;
  transition: all 0.3s ease;
  transform: translate(-50%, -50%) scale(1.2);
  margin-top: 25px;
  font-size: 14px;
  padding: 25px;
  margin: 0 10px;
  z-index: 103;
}

.popup-section.active .popup-box {
  display: block;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}

.popup-buttons {
  display: flex;
  margin: 3px;
}

.cancel-save,
.confirm-save {
  padding: 10px;
  margin: auto;
  background-color: var(--first-color);
  color: #fff;
  font-weight: 600;
  text-align: center;
  border-radius: 0.5rem;
  transition: 0.3s;
  width: 40%;
  border: none;
  cursor: pointer;
}

.cancel-save {
  border: 1px solid var(--first-color);
  background-color: #ffffff;
  color: var(--first-color);
}

.cancel-save:hover {
  background-color: var(--first-color-dark);
  color: #fff;
}

.confirm-save:hover {
  background-color: var(--first-color-dark);
}