.cancelbtn,
.deletebtn {
  float: center;
  cursor: pointer;
  padding-block: 10px;
  padding-inline: 30px;
  border-radius: 8px;
  border-width: 0px;
  font-size: 16px;
  font-weight: bolder;
}
.cancelbtn {
  background-color: #ccc;
}

.cancelbtn:hover {
  background-color: darkgray;
  opacity: 1;
}

.deletebtn {
  background-color: #f44336;
  color: white;
}

.deletebtn:hover {
  background-color: red;
  opacity: 1;
}

.delete-link{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
