@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
    --orange: hsl(36, 80%, 50%);
    --white: hsl(0, 0%, 100%);
    --WHITE: hsl(0, 0%, 100%);
    --BLACK: hsl(0, 0%, 0%);
    --black-90: hsl(0, 0%, 10%);
    --black-70: hsl(0, 0%, 30%);
    --black-alpha-40: hsla(0, 0%, 0%, 0.4);
    --yellow-light: hsl(44, 95%, 83%);
    --green-light: hsl(158, 68%, 75%);
    --red-light: hsl(0, 84%, 80%);
    --orange-light: hsl(22, 85%, 80%);
    --select-box-bg-color: hsl(0, 0%, 100%);
    --border-color-1: hsl(0, 0%, 90%);
}

body {
    background-color: var(--body-bg-color);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: var(--black-70);
    min-height: 100vh;
    overflow-x: hidden;
}

a {
    color: var(--main-color);
    text-decoration: none;
}

a:hover {
    color: var(--main-color);
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--black-90);
    line-height: 1.3;
}

h3 {
    font-size: 20px;
}

::selection {
    color: var(--WHITE);
    background-color: var(--main-color);
}

.header {
    border-bottom: 1px solid var(--border-color-2);
}

/* .header-backdrop,
.header-close-btn,
.header-hamburger-btn {
    display: none;
} */

.box {
    background-color: var(--white);
    border-radius: 5px;
    box-shadow: var(--shadow);
    padding: 30px;
}

.section-padding {
    padding: 60px 0;
}

.container {
    --bs-gutter-x: 15px;
    max-width: 1140px;
}

.row {
    --bs-gutter-x: 30px;
}

.nav-tabs .nav-link {
    background-color: var(--white);
    text-transform: capitalize;
    border-color: var(--border-color-2);
    padding: 5px 12px;
    margin: 0 5px 10px;
    border-radius: 5px;
    color: var(--black-70);
    font-size: 16px;
}

.nav-tabs .nav-link:hover {
    border-color: var(--border-color-2);
}

.nav-tabs .nav-link.active {
    background-color: var(--main-color);
    border-color: transparent;
    color: var(--WHITE);
}

.course-header h2 {
    font-size: 30px;
    margin: 0 0 15px;
    font-weight: 600;
}

.course-header .average-rating {
    font-weight: 600;
    color: var(--orange);
}

.course-header .average-stars i {
    font-size: 14px;
    color: var(--orange);
}

.course-header .rating span {
    vertical-align: middle;
}

.course-header ul li {
    margin: 6px 0 0;
    text-transform: capitalize;
}

.course-header ul li span {
    margin-left: 5px;
}

.course-tabs {
    margin: 30px 0 20px;
}

.course-tabs .nav-link {
    margin: 0 10px 10px 0;
}

.course-curriculum .accordion-item {
    border-color: var(--border-color-1);
    background-color: transparent;
}

.course-curriculum .accordion-button span {
    position: absolute;
    right: 17px;
    font-size: 14px;
}

.course-curriculum .accordion-button::after {
    background-image: none;
    content: "\f077";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    left: 17px;
    top: 50%;
    transform: translateY(-50%);
    height: auto;
    width: auto;
    line-height: 1;
}
.course-curriculum .accordion-button {
    background-color: transparent;
    color: var(--black-90);
    font-weight: 300;
    flex-wrap: wrap;
    padding-left: 50px;
    padding-right: 160px;
    line-height: 1.5;
}

.course-curriculum .accordion-button:focus {
    box-shadow: none;
}

.course-curriculum .accordion-button:not(.collapsed) span {
    font-weight: 500;
}

.course-curriculum .accordion-button:not(.collapsed)::after {
    transform: translateY(-50%) rotate(-180deg);
}

.course-curriculum .accordion-button:not(.collapsed) {
    font-weight: 600;
    border-bottom: 1px solid var(--border-color-1);
    transition: none;
    box-shadow: none;
}

.course-curriculum ul li {
    position: relative;
    padding: 0 50px 0 20px;
}

.course-curriculum ul li span {
    position: absolute;
    font-size: 14px;
    right: 0;
    top: 0;
}

.course-curriculum ul li i {
    position: absolute;
    left: 0;
    top: 6px;
    color: var(--black-70);
    font-size: 12px;
}

.course-description h4 {
    font-size: 16px;
}