@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans" , sans-serif;
}

.sidebar{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: #ffffff;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}

.sidebar.open{
  width: 180px;
}

.sidebar .logo-details{
  height: 70px;
  width: 100;
  display: flex;
  align-items: center;
  position: relative;
}

.sidebar .logo-details .logo-img{
    opacity: 0;
    width: 130px;
    height: auto;
    transition: all 0.25s ease;
}
  
.sidebar.open .logo-details .logo-img{
  transition: all 0.8s ease;
  opacity: 1;
}

.sidebar .logo-details #btn{
  position: absolute;
  top: 50%;
  right: 13px;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}

.sidebar.open .logo-details #btn{
  text-align: right;
  right: -10px;
}

.sidebar .nav-list .profile-details .photo{
  width: 50px;
  height: 50px;
  object-fit: contain;
  border-radius: 6px;
  text-align: center;
  min-width: 50px;
  text-align: center;
  line-height: 50px;
  border: 0.1px solid #b5b5b5;
}

.sidebar .nav-list .profile-details .name,
.sidebar .nav-list .profile-details .job{
  font-size: 15px;
  font-weight: 400;
  color: #000000;
  white-space: nowrap;
  opacity: 0;
  transition: all 0.5s ease;
  margin-left: 10px;
}

.sidebar .nav-list .profile-details .job{
  font-size: 12px;
}

.sidebar.open .nav-list .profile-details .name,
.sidebar.open .nav-list .profile-details .job{
  display: flex;
  opacity: 1;
}

.sidebar .nav-list i{
  color: #000000;
  min-width: 50px;
  font-size: 32px;
  text-align: center;
  line-height: 50px;
}

.sidebar .nav-list{
  margin-top: 20px;
  height: 100%;
  width: 100%;
}

.sidebar li{
  position: relative;
  margin: 8px 0;
  list-style: none;
}

.sidebar li .tooltip{
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}

.sidebar li:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}

.sidebar.open li .tooltip{
  display: none;
}

.sidebar li a, .sidebar li .logbtn{
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #ffffff;
}

.sidebar li a:hover, .sidebar li .logbtn:hover{
  background: #dbdbdb;
}

.sidebar li a .link-name, .sidebar li .logbtn .link-name{
  color: #000000;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
  margin-left: 8px;
}

.sidebar.open li a .link-name, .sidebar.open li .logbtn .link-name{
  opacity: 1;
  pointer-events: auto;
}

.sidebar li a:hover .link-name,
.sidebar li a:hover i,
.sidebar li .logbtn:hover .link-name,
.sidebar li .logbtn:hover i{
  transition: all 0.5s ease;
  color: #b700ff;
}

.sidebar li .logbtn{
  border: none;
  cursor: pointer;
}

.sidebar .footer{
  position: absolute;
  left: 0;
  bottom: 0;
  background: #ffffff;
  width: 78px;
  background: #ffffff;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
  font-size: 8px;
  text-align: center;
}

.sidebar.open .footer{
  width:180px;
}

.home-section{
  position: relative;
  background: #E4E9F7;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}

.sidebar.open ~ .home-section{
  left: 180px;
  width: calc(100% - 180px);
}

.home-section .text{
  display: inline-block;
  color: #11101d;
  font-size: 25px;
  font-weight: 500;
  margin: 18px
}

@media (max-width: 420px) {
  .sidebar li .tooltip{
    display: none;
  }
}

.modal-container-logout .buttons-logout{
  margin-top: 40px;
}

.modal-container-logout .close-btn-logout,
.modal-container-logout .confirm-logout{
  cursor: pointer;
    border: none;
    font-size: 16px;
    color: white;
    background: #597aff;
    padding: 5px 15px;
    border-radius: 4px;
    font-weight: 700px;
    left: 100px;
}

.modal-container-logout .close-btn-logout:hover{
  background: #214dff;
}

.modal-container-logout .confirm-logout:hover{
  background: red;
}

.modal-container-logout .confirm-logout{
  background: rgb(255, 61, 61);
  margin-left: 25px;
}

.modal-container-logout{
  margin-left: 20%;
  margin-right: 20%;
  width: 60%;
    text-align: center;
}

.modal-container-logout i{
  font-size: 100px;
  color: red;
  margin-top: 20px;
}

#dialog-logout{
  width: 350px;
  height: 300px;
  min-width: 300px;
  min-height: 300px;
  border: none;
  margin: auto;
  padding: auto;
}

#overlay-logout{
  width: 100%;
  background-color: transparent;
  display: none;
  position: fixed;
}
