@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

:root {
  --first-color: #9d4bff;
  --first-color-dark: #23004d;
  --first-color-light: #a49eac;
  --first-color-lighter: #f2f2f2;
  --red-color: #ff0000;

  --body-font: "Open Sans", sans-verif;
  --h1-font-size: 1.5rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
}

@media screen and (min-width: 768px) {
  :root {
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
  }
}
body {
  background-color: #f9eaf9;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
.form-container {
  width: 40vw;
  min-height: 50vh;
  max-height: 80vh;
  background-color: white;
  margin-left: 4em;
  padding-top: 30px;
  padding-inline: 30px;
  display: flex;
  flex-direction: column;
}

#form-title {
  color: #7d387d;
}

.login-box {
  display: grid;
  padding: 1.125rem 1rem;
  background-color: #fff;
  border-radius: 0.5rem;
  width: 100%;
}

.button-container {
  display: flex;
  flex-direction: row;
  padding: 1.125rem 1rem;
  width: 100%;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.popup-content h1 {
  text-align: center;
}
.alert-hidden p {
  text-align: left;
  color: red;
  font-size: 12px;
  padding-left: 0.3rem;
  margin-top: 0;
}

.alert-show {
  display: block;
  color: red;
  text-align: left;
  font-size: 12px;
  padding-left: 0.3rem;
  margin-top: 0;
}
.cancel-btn,
.add-btn,
.back-btn, .update-btn {
  padding-block: 10px;
  padding-inline: 30px;
  border-radius: 8px;
  border-width: 0px;
  font-size: 16px;
  font-weight: bolder;
  cursor: pointer;
}

.back-btn {
  background-color: #e6c5e6;
}

.add-btn, .update-btn {
  background-color: #564c95;
  color: white;
}

.add-btn:disabled, .update-btn:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.add-btn:hover, .update-btn:hover {
  opacity: 0.8;
}

.cancel-btn {
  background-color: #ccc;
}

.cancel-btn:hover {
  opacity: 0.8;
}

.login-input {
  border: none;
  outline: none;
  font-size: var(--normal-font-size);
  font-weight: 700;
  color: var(--first-color-dark);
  background-color: #e6c5e6;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
}
.login-input::placeholder {
  font-size: var(--normal-font-size);
  font-family: var(--body-font);
  color: var(--first-color-light);
}

#popup-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  z-index: 9999;
  visibility: hidden;
  padding-block: 10px;
}

.popup-content {
  width: 500px;
  height: 300px;
  background: #fff;
  border-radius: 10px;
  position: absolute;
  left: 35%;
  top: 25%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.fullname-input {
  border-color: green;
}

.username-input {
  border-color: green;
}

.select-button {
  padding: 10px;
  border-radius: 10px;
  background-color: #e6c5e6;
  border-width: 0px;
  font-size: var(--normal-font-size);
  font-family: var(--body-font);
  color: var(--first-color-dark);
}

img {
  width: 200px;
  height: auto;
  max-height: 100px;
  object-fit: contain;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
