@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

:root {
    --first-color: #564C95;
    --first-color-semi: #9d4bff;
    --first-color-dark: #23004d;
    --first-color-light: #a49eac;
    --first-color-lighter: #f2f2f2;
    --red-color: #ff0000;

    --body-font: "Open Sans", sans-verif;
    --h1-font-size: 1.5rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
}

* {
    box-sizing: border-box
}

.wrapper {
    padding-inline: 30px;
    padding-top: 20px;
    max-height: 100vh;
}

.header {
    max-width: 1250px;
    max-height: 200px;
    position: relative;
    margin-left: 20px;
    margin-top: 20px;
}

.course {
    font-weight: 600;
    font-weight: bolder;
}

.course-section {
    display: flex;
    height: 85vh;
}

.modules {
    left: 0;
    top: 0;
    height: 100%;
    width: 25%;
    min-width: 200px;
    background-color: #ffffff;
    padding: 6px 14px;
    margin-inline: 20px;
    margin-top: 20px;
    max-height: 80vh;
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
}

.header-intro {
    height: 30px;
    width: 100%;
    padding-top: 4px;
    vertical-align: center;
    margin-bottom: 10px;
}

.table-container {
    width: 100%;
    overflow: auto;
    max-height: 85%;
}

.table-module {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    height: 100%;
}

td {
    width: 100%;
    display: flex;
    font-size: 12px;
    border-bottom: 1px solid #cecece;
    padding: 5px;
    white-space: normal;
    word-break: break-all;
}

.row-container {
    width: 100%;
    display: flex;
}

.row-container:hover {
    background-color: var(--first-color-lighter);
    cursor: pointer;
}

.module-title {
    padding: 4px;
    width: 80%;
    text-align: left;
}

.actions {
    padding: 1px;
    width: 20%'

}

.actions i:hover {
    cursor: pointer;
}

.add-module-section {
    height: 30px;
    width: 100%;
    padding-top: 4px;
    vertical-align: center;
    font-size: 13px;
    margin-top: 10px;
    cursor: pointer;
    border: 1px solid var(--first-color-lighter);
}

.add-module-section:hover {
    background-color: var(--first-color-lighter);
}

.module-material-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    background-color: #ffffff;
}

.material-box {
    background: rgb(255, 255, 255);
    width: 100%;
    height: 94%;
    overflow: auto;
    padding-top: 20px;
}

.titles {
    width: auto;
    margin-inline: 30px;
    padding-bottom: 20px;
    border-bottom: 0.2px solid rgb(98, 98, 98);
}

.material-content {
    margin-top: 20px;
    margin-inline: 30px;
    overflow: auto;
    height: 100%;
}

.button-container {
    text-align: center;
    height: 6%;
    margin: auto;
}

.addMaterial{
    background-color: var(--first-color);
    color: #ffffff;
    padding: 5px;
    outline: none;
    text-decoration: none;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.addMaterial:hover {
    background-color: var(--first-color-dark);
}

::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-thumb {
    background: rgb(206, 207, 211);
}

::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.8);
}

.popup-section,
.popup-section2,
.popup-section3 {
    position: fixed;
    height: 100%;
    width: 100%;
    background: transparent;
    display: none;
    z-index: 101;
}

.popup-overlay,
.popup-overlay2,
.popup-overlay3 {
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    display: none;
    pointer-events: auto;
    z-index: 102;
}

.popup-box,
.popup-box2,
.popup-box3 {
    position: fixed;
    flex-direction: column;
    align-items: center;
    min-width: 300px;
    width: 40%;
    height: 65vh;
    padding: 30px 20px;
    border-radius: 24px;
    background-color: #fff;
    display: none;
    pointer-events: none;
    transition: all 0.3s ease;
    transform: translate(-50%, -50%) scale(1.2);
    margin-top: 25px;
    font-size: 14px;
    padding: 25px;
    margin: 0 10px;
    z-index: 103;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.popup-box2 {
    width: 30%;
    height: fit-content;
    text-align: center;
}

.popup-section.active .popup-box,
.popup-section2.active .popup-box2,
.popup-section3.active .popup-box3 {
    display: block;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.popup-buttons,
.popup-buttons2,
.popup-buttons3 {
    display: flex;
    margin: 3px;
}

.cancel-save,
.confirm-save,
.cancel-save2,
.confirm-save2,
.cancel-save3,
.confirm-save3 {
    padding: 10px;
    margin: auto;
    background-color: var(--first-color);
    color: #ffffff;
    font-weight: 600;
    text-align: center;
    border-radius: 0.5rem;
    transition: 0.3s;
    width: 40%;
    border: none;
    cursor: pointer;
}

.cancel-save,
.cancel-save2,
.cancel-save3 {
    border: 1px solid var(--first-color);
    background-color: #ffffff;
    color: var(--first-color);
}

.cancel-save:hover,
.cancel-save2:hover,
.cancel-save3:hover {
    background-color: var(--first-color-dark);
    color: #fff;
}

.confirm-save:hover,
.confirm-save2:hover,
.confirm-save3:hover {
    background-color: var(--first-color-dark);
}

.addForm-header {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: #222;
    margin: 20px 0px;
}

.addForm-element {
    padding: 8px 20px;
}

.addForm-element label {
    display: block;
    color: #222;
    margin-bottom: 5px;
    font-size: 15px;
}

.addForm-element input {
    width: 100%;
    padding: 8px 10px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 5px;
}

.name-area {
    height: 8vh;
}

.desc-area {
    height: 16vh;
}

.desc-area,
.name-area {
    width: 100%;
    padding: 5px;
    font-size: 14px;
    resize: none;
}

.confirm-save:disabled,
.confirm-save3:disabled {
    opacity: 0.2;
    cursor: not-allowed;
}

.accordion .accordion-content {
    width: 100%;
    margin: 15px 0;
    border-radius: 4px;
    background: #FFF7F0;
    border: 1px solid #FFD6B3;
    overflow: hidden;
}

.accordion-content:nth-child(2) {
    background-color: #F0FAFF;
    border-color: #CCEEFF;
}

.accordion-content:nth-child(3) {
    background-color: #FFF0F3;
    border-color: #FFCCD6;
}

.accordion-content:nth-child(4) {
    background-color: #F0F0FF;
    border-color: #CCCCFF;
}

.accordion-content.open {
    padding-bottom: 10px;
}

.accordion-content header {
    display: flex;
    min-height: 50px;
    padding: 0 15px;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
    transition: all 0.2s linear;
}

.accordion-content.open header {
    min-height: 35px;
}

.accordion-content header .title {
    font-size: 14px;
    font-weight: 500;
    color: #333;
}

.accordion-content header i {
    font-size: 15px;
    color: #333;
}

.accordion-content .description {
    height: 0;
    font-size: 12px;
    color: #333;
    font-weight: 400;
    padding: 0 15px;
    transition: all 0.2s linear;
}